.SelectDate {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}

.button {
    background-color: #efb87e;
    color: #023047;
    font-weight: bold;
    border-radius: 5px;
}