.Title {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-decoration: underline;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 40px;
        width: 100vw;
        color: #faf4d3;
        background-image: url("../../../Background.svg/Shapes.svg");

}