.SearchBar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 3px;
    
}

.Button {
    background-color: #efb87e;
    color: #023047;
    font-weight: bold;
    border-radius: 5px;
}