.HomePage {
    background-image: url("../../Background.svg/Shapes.svg");
    height: 60vw;
    width: 100vw;
    max-width: 100vw;
 
}

.TitleHomePage {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    padding-top: 0cm;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: #faf4d3;
    background-color: #023047;
}