.MusicGenerator{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 3px;
    color: white;
   
}

.ReactAudioPlayer {
    background-color: white;
    border-radius: 5px;
    height: 0.6cm;
    width: 6.1cm;
}