.SubTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #023047;
    background-color: #faf4d3;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
