.AddNotesButtonPosition {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5em;
    width: 3cm

    
}

.AddNotesButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4cm;
    padding-left: 5em;
}